<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script th:src="@{/js/common.js}"></script>  <!-- JS 파일 -->
    <script th:src="@{/js/main.js}"></script>  <!-- JS 파일 -->
    <title>메인 페이지</title>
</head>
<body>
<!-- 헤더 영역 -->
<header class="header">
    <div class="container">
        <h1>메인 페이지</h1>
        <nav class="nav">
            <ul>
                <li><a href="/">홈</a></li>
                <li><a href="/">게시판</a></li>
                <li><a href="/member/login">로그인</a></li>
                <li> <a onclick="logout();" >로그아웃</a></li>
                <li><a href="/member/join">회원가입</a></li>
            </ul>
        </nav>
    </div>

</header>
<div class="container">
    <h1 id="welcome-massage"></h1>
    <input id="hiddenUserId"   type="hidden">
    <input id="hiddenUserName" type="hidden">
    <a th:href="@{/write}" class="btn">글쓰기</a>
    <a onclick="logout();" class="btn logout-btn logout-btn-position">로그아웃</a>
    <!-- 게시판 영역 -->
    <div id="board">
        <table>
            <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody id="boardContent">
            <!-- Ajax를 통해 게시글 데이터가 여기에 동적으로 추가됨 -->


            </tbody>
        </table>
    </div>

    <!-- 페이징 영역 -->
    <div id="pagination">
        <button id="prevPage" class="btn" disabled>이전</button>
        <span id="pageInfo">1</span>
        <button id="nextPage" class="btn">다음</button>
    </div>
</div>
